<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- constants -->

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find carro_pkg)/urdf/carro.urdf"/>

  <!-- include the world -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <let name="world_name" value="$(find carro)/worlds/teste.world"/>
    <let name="debug" value="$(arg debug)" />
    <let name="gui" value="$(arg gui)" />
    <let name="paused" value="$(arg paused)"/>
    <let name="use_sim_time" value="$(arg use_sim_time)"/>
    <let name="headless" value="$(arg headless)"/>
  </include>

  <!-- spawn the model -->

  <node pkg="gazebo_ros" exec="spawn_model" name="urdf_spawner">
  	<param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
        <args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen"/> 
  <node/>

  <!-- load the controllers -->

  <rosparam file="$(find carro)/config/carro_control.yaml" command="load"/>

  <node pkg="controller_manager" exec="spawner" name="controller_spawner" respawn="false"
    output="screen" namespace="/carro" args="joint_state_controller"/>


  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/carro/joint_states" />
  </node>

</launch>
